@import url(https://fonts.googleapis.com/css?family=Indie+Flower);



#header4-0 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#header4-0 P {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-20 SPAN {
  font-size: 8px;
}
#footer1-20 P {
  font-size: 8px;
}

#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-20 SPAN {
  font-size: 8px;
}
#footer1-20 P {
  font-size: 8px;
}



#header4-10 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header4-10 P {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-20 SPAN {
  font-size: 8px;
}
#footer1-20 P {
  font-size: 8px;
}

#content4-12 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#content4-13 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-20 SPAN {
  font-size: 8px;
}
#footer1-20 P {
  font-size: 8px;
}



#content5-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-article {
  color: #fff;
}
#content5-25 .mbr-article P {
  font-family: 'Indie Flower', cursive;
  color: #000000;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-20 SPAN {
  font-size: 8px;
}
#footer1-20 P {
  font-size: 8px;
}

#header3-22 H3 {
  text-align: center;
}
#content1-23 P {
  color: #000000;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}




#content5-31 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#content5-31 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-31 .mbr-article {
  color: #fff;
}
#content5-31 .mbr-article P {
  color: #ffffff;
}
#msg-box1-36 .mbr-header .mbr-header__text {
  color: #fff;
  font-family: 'Indie Flower', cursive;
}
#msg-box1-36 .mbr-article {
  color: #fff;
}
#msg-box2-35 .mbr-header .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#msg-box2-35 .mbr-article {
  color: #252525;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
